<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyp.seckill.mapper.SkOrderMapper">

    <!-- 通用设置 -->
    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id, user_id, order_id, goods_id
    </sql>

    <!-- 通用条件列 -->
    <sql id="SkOrderByCondition">
            <if test="userId!=null and userId!=''">
                AND user_id = #{userId}
            </if>
            <if test="orderId!=null and orderId!=''">
                AND order_id = #{orderId}
            </if>
            <if test="goodsId!=null and goodsId!=''">
                AND goods_id = #{goodsId}
            </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="SkOrderSetColumns">
            <if test="userId!=null and userId!=''">
                user_id = #{userId},
            </if>
            <if test="orderId!=null and orderId!=''">
                order_id = #{orderId},
            </if>
            <if test="goodsId!=null and goodsId!=''">
                goods_id = #{goodsId},
            </if>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="SkOrderMap" type="com.lyp.seckill.pojo.SkOrder">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="order_id" property="orderId"/>
            <result column="goods_id" property="goodsId"/>
    </resultMap>

    <!-- 查询表sk_order所有信息 -->
    <select id="findAllSkOrder" resultMap="SkOrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sk_order
    </select>

    <!-- 根据主键id查询表sk_order信息 -->
    <select id="findSkOrderByid" resultMap="SkOrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sk_order
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表sk_order信息 -->
    <select id="findSkOrderByCondition" resultMap="SkOrderMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sk_order
        WHERE 1=1
        <include refid="SkOrderByCondition" />
    </select>

    <!-- 根据主键id删除表sk_order信息 -->
    <delete id="deleteSkOrderByid">
        DELETE FROM
        sk_order
        WHERE id=#{id}
    </delete>

    <!-- 根据主键id更新表sk_order信息 -->
    <update id="updateSkOrderByid" parameterType="com.lyp.seckill.pojo.SkOrder">
        UPDATE sk_order
        <set>
            <include refid="SkOrderSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表sk_order信息 -->
    <insert id="addSkOrder">
        INSERT INTO sk_order (
            id
            ,user_id
            ,order_id
            ,goods_id
        ) VALUES (
            #{id}
            ,#{userId}
            ,#{orderId}
            ,#{goodsId}
        )
    </insert>
</mapper>